html {
    background-color: lightgray;
}


.blue-hat {
    width: 60px;
    height: 60px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#box-red {
    width: 200px;
    height: 200px;
    background: red;

}

#box-orange {
    width: 200px;
    height: 200px;
    background: orange;

}

.circle {
    border-radius: 500px;
}

header {
    background-color: lightgray;
}