html {
    background-color: lightgray;
}


.blue-hat {
    width: 60px;
    height: 60px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#box-red {
    width: 200px;
    height: 200px;
    background: red;

}

#box-orange {
    width: 200px;
    height: 200px;
    background: orange;

}

#box-green {
    width: 200px;
    height: 200px;
    background: green;

}

#box-blue {
    width: 200px;
    height: 200px;
    background: blue;

}

.circle {
    border-radius: 500px;
}

header {
    background-color: lightgray;
}

.black {
    font-size: 64px;
    font-family: anton, sans-serif;
    text-align: center;

}

.black-second {
    font-size: 40px;
    font-family: anton, sans-serif;
    text-align: center;

}