.blue-hat {
    width: 60px;
    height: 60px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    color: red;
}